.main {
    margin-top: 40px;
    text-align: center;
    /* background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; */
   
  }
.a11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    margin-top: 10px;
    margin-inline: 400px;
    /* border: 1px solid red; */
    word-wrap: break-word;
  }


  .inp{
    height: 30px;
    width: 400px;
  }
  .main>button{
    height: 40px;
  }
  .cen{
    margin-bottom: 10px;
  }